.carrossel {
    top: 40px;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
    border: 2px solid #f2c94c; /* cor de mel */
    border-radius: 15px;
    background: linear-gradient(180deg, #fff8e1, #ffe082); /* tons suaves de mel */
    width: 380px;
    padding: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    height: 690px;
    font-family: 'Georgia', serif; /* fonte elegante e relaxante */
    color: #4e342e; /* marrom escuro para texto */
}
.carrossel-inner {
    display: flex;
    transition: transform 1.0s ease-in-out;
    width: 300%;
    /* Ajusta conforme o número de slides */
}

.slide {
    flex: 1;
    min-width: 10%;
    text-align: center;
    font-size: 22px; /* mais legível */
    padding: 20px;
    box-sizing: border-box;
    width: 400px;
    font-size: 30px;
    word-break: break-word;


}

.textoTres {
    left: 40px;
    position: relative;
}

.textoDois {
    left: 20px;
    position: relative;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-10%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
}

button:hover {
    background: black;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
.slide img.foto {
    margin: 15px auto 0 auto; /* topo 15px, auto nas laterais centraliza */
    border-radius: 50%;
    border: 2px solid #f2c94c;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 100px;  /* garante tamanho fixo */
    height: 100px; /* garante tamanho fixo */
    object-fit: cover; /* mantém proporção */
    display: block; /* garante centralização */
    left: 100px;
}
